@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f5f2;
  color: #2e2e2e;
}

.font-script {
  font-family: "Great Vibes", cursive;
}

.font-title {
  font-family: "Cormorant Garamond", serif;
}

.font-elegant {
  font-family: "Playfair Display", serif;
}